@use '../../scss/colors' as *;

.ultimate-homepage {
  background-color: $bg-color;
  color: $text-color;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
}
