.google-signedin {
  display: flex;
  align-items: center;

  p {
    margin: 0;
  }
}

.google-signin {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
  font-size: 14px;
}

.small-logo {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}
